* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

body {
  letter-spacing: -0.008em;
  background: #f3f4f6;
  color: #1F2937;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.headline-1 {
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.28px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #F4F6F8;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #D3D7DB;
}

.spacing-bottom-16 {
  margin-bottom: 16px;
}

.spacing-bottom-20 {
  margin-bottom: 20px;
}

.spacing-bottom-24 {
  margin-bottom: 24px;
}

.spacing-bottom-28 {
  margin-bottom: 28px;
}

.spacing-bottom-32 {
  margin-bottom: 32px;
}

.btn {
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  line-height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.btn svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #2b2b2b;
}

.btn-large {
  height: 48px;
  padding: 0 20px;
}

.btn-medium {
  height: 42px;
}

.btn-small {
  height: 36px;
}

.btn-xsmall {
  height: 32px;
}

.bell {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  margin-left: 8px;
  fill: #374151;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bell:hover {
  background: #F3f4f5;
}

.bell svg {
  width: 20px;
  height: 20px;
}

.btn-primary {
  background: #1545DE;
  color: #fff;
}

.btn-primary_large {
  border-radius: 8px;
}

.btn-secondary {
  background: #e7ecfd;
  color: #1545DE;
}

.btn-tertiary {
  border: 1px solid #D1D5DB;
}

.btn-tertiary:hover {
  background: #F3f4f5;
}

.btn-tertiary_large {
  border-radius: 8px;
}

.button-group--wrap {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
}

.btn-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1545DE;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-fab svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  margin: 0;
}

.btn-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.btn-icon_other:hover {
  background: #e7ecfd;
}

.btn-icon_other svg {
  fill: #1545DE;
  margin: 0;
}

.table {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #E5E7EB;
}

tr:last-child {
  border-bottom: 0;
}

td {
  border-left: 0;
  border-right: 0;
  padding: 8px 16px;
  height: 56px;
  /*color: #6B7280;*/
}

th {
  text-align: left;
  vertical-align: middle;
  padding: 8px 16px;
  background-color: #f3f4f6;
  font-weight: 700;
  letter-spacing: -0.28px;
  height: 52px;
  border-right: 1px solid #e5e7eb;
}

th:last-child {
  border: 0;
}

.table-function {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-bottom: 1px solid #E5E7EB;
}

.table-search {
  max-width: 400px;
  width: 100%;
}

.table-cell_checkbox {
  width: 0;
}

.table-cell_actions {
  width: 64px;
}

.table-cell_performance-hoje {
  width: 180px;
}

.table-cell_performance-periodo {
  width: 200px;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.tag-large {
  height: 32px;
  padding: 2px 8px;
  border-radius: 6px;
}

.tag-success {
  background: #E6EEE4;
  color: #3D9900;
}

.tag-success .tag-icon {
  fill: #3D9900;
}

.tag-danger {
  background: #FAE1E1;
  color: #DA2323;
}

.tag .tag-icon {
  width: 16px;
  height: 16px;
}

.tag-icon--right-space {
  margin-right: 8px;
}

.tag-icon--hide {
  display: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 22px;
}
.checkbox-container .label-text {
  display: inline-flex;
  margin-top: 5px;
  display: none;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: 2px solid #D1D5DB;
  background: #fff;
}

.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #9CA3AF;
}

.checkbox-container input:checked ~ .checkmark {
  background: #1545DE;
  border: 2px solid #1545DE;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.nav {
  max-width: 240px;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: max-width 250ms ease-out;
  border-right: 1px solid #D1D5DB;
}

.nav-active {
  max-width: 64px;
}

.nav-active a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: transparent;
  padding: 0;
  width: 44px;
  height: 44px;
  font-size: 0;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 8px;
}

.nav-active a svg {
  margin: 0;
}

.nav-active .nav-arrow {
  display: none;
}

.nav-active .nav-module {
  display: none;
}

.nav-active nav {
  padding-top: 16px;
}

.nav-active .logo {
  justify-content: center;
}

.nav-active .logo img {
  padding: 0;
  top: 0;
}

.menu-brand {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 64px;
  /* border-bottom: 1px solid rgba(11, 10, 92, .05); */
  /*padding: 16px 0;*/
  /* margin-bottom: 8px; */
  /* border-bottom: 1px solid rgba(255, 255, 255, .16); */
}

.logo img {
  position: relative;
  top: 3px;
  padding: 0 24px;
}

nav ul {
  list-style: none;
}

nav a {
  display: flex;
  align-items: center;
  color: #292929;
  text-decoration: none;
  font-size: 14px;
  padding: 12px 24px;
  /* opacity: .85; */
  transition: background 0.25s ease-in-out;
  position: relative;
}

nav a:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.12);
}

nav a.active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.12);
}

.nav-arrow {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  transform: rotatez(-90deg);
}

.nav-topbar {
  position: fixed;
  width: 100vw;
  background: #fff;
  border-bottom: 1px solid #E5E7EB;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  transition: max-width 0.25s ease-in-out, left 0.25s ease-in-out;
  z-index: 999;
}

.secondary-nav.active {
  /* width: calc(100% - 64px);
  left: 64px; */
}

.secondary-nav h6 {
  font-size: 20px;
  font-weight: 600;
}

.sec-features {
  display: flex;
  align-items: center;
  position: relative;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 24px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.profile-data span:first-child {
  font-weight: 600;
  margin-bottom: 2px;
}

.profile-data span:last-child {
  font-size: 13px;
  color: #9CA3AF;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e7ecfb;
  margin-left: 12px;
  border: 1px solid #D3D7DB;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.sec-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  /*margin-left: -12px;*/
}

.nav-btn {
  background: transparent;
  width: 40px;
  height: 40px;
  border: 0;
  margin-right: 16px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*border: 1px solid red;*/
}

.nav-btn:hover {
  background-color: #F4F6F8;
}

.nav-btn.active {
  background: #E7ECFD;
}

.nav-btn.active svg {
  fill: #1545DE;
}

.nav-btn svg {
  width: 20px;
  height: 20px;
  fill: #374151;
}

.menu-container {
  position: relative;
}

.menu_sus {
  position: absolute;
  display: none;
  /*border: 1px solid red;*/
  border: 1px solid #f3f4f6;
  top: 44px;
  left: 0;
  border-radius: 16px;
  padding: 12px;
  padding: 8px;
  background-color: #fff;
  width: 340px;
  text-align: left;
  /*box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);*/
  /*box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 1px, rgba(0, 0, 0, 0.05) 0px 4px 2px, rgba(0, 0, 0, 0.05) 0px 8px 4px, rgba(0, 0, 0, 0.05) 0px 16px 8px, rgba(0, 0, 0, 0.05) 0px 32px 16px;*/
  /*box-shadow: rgba(31, 41, 55, 0.05) 0px 2px 1px, rgba(31, 41, 55, 0.05) 0px 4px 2px, rgba(31, 41, 55, 0.05) 0px 8px 4px, rgba(31, 41, 55, 0.05) 0px 16px 8px, rgba(31, 41, 55, 0.05) 0px 32px 16px;
  box-shadow: 0px 32px 64px 0px rgba(31, 41, 55, 0.05), 0px 16px 32px 0px rgba(31, 41, 55, 0.05), 0px 4px 8px 0px rgba(31, 41, 55, 0.05), 0px 2px 4px 0px rgba(31, 41, 55, 0.05), 0px 1px 2px 0px rgba(31, 41, 55, 0.05);
  */
  box-shadow: 0px 32px 64px 0px rgba(31, 41, 55, 0.05), 0px 16px 32px 0px rgba(31, 41, 55, 0.05), 0px 4px 8px 0px rgba(31, 41, 55, 0.05), 0px 2px 4px 0px rgba(31, 41, 55, 0.05), 0px 1px 2px 0px rgba(31, 41, 55, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 112, 245, 0.1), 0 1px 2px -1px rgba(0, 112, 245, 0.1), 10px 15px -3px rgba(0, 112, 245, 0.1), 0 4px 6px -4px rgba(0, 112, 245, 0.1);
}

.menu_sus.active {
  display: block;
}

.menu-item {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  color: #1F2937;
}

.menu-item:hover {
  background: #E7ECFD;
  opacity: 1;
}

.menu-item:hover .menu-hover {
  display: block;
}

.menu-item:hover svg {
  fill: #1545DE;
}

.menu-item_wrap {
  display: flex;
  align-items: center;
  padding: 12px;
}

.menu-item:hover .menu-item_icon {
  background: #fff;
}

.menu-item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.menu-item_icon svg {
  width: 20px;
  height: 20px;
  fill: #374151;
}

.menu-item_text {
  display: flex;
  flex-direction: column;
  width: calc(100% - 36px);
  padding-left: 12px;
}

.menu-item_text span:first-child {
  font-weight: 600;
  margin-bottom: 4px;
}

.menu-item_text span:last-child {
  font-size: 12px;
  color: #6b7280;
}

.menu-hover {
  display: none;
  position: absolute;
  /*border: 1px solid red;*/
  background: #fff;
  padding: 12px;
  top: 0;
  left: 0;
  width: 320px;
  border-radius: 16px;
}

.menu-hover-motorista {
  top: 60px;
  left: 320px;
}

.main-tab {
  background: #fff;
  height: 44px;
  border-bottom: 1px solid #E5E7EB;
}

.main-tab_tabs {
  padding: 0 24px;
  height: 100%;
  display: flex;
}

.main-tab_tabs-item {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0 32px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #6b7280;
  cursor: pointer;
}

.main-tab_tabs-item svg {
  fill: #6b7280;
  margin-right: 8px;
}

.main-tab_tabs-item:hover {
  color: #1f2937;
}

.main-tab_tabs-item:hover svg {
  fill: #1f2937;
}

.main-tab_tabs-item.active {
  background: #e7ecfd;
  font-weight: 600;
  color: #1545de;
  border-bottom: 2px solid #1545de;
}

.main-tab_tabs-item.active svg {
  fill: #1545de;
  margin-right: 8px;
}

.page-header {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.page-header-content {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  justify-content: space-between;
}

.page-header-content_content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
}

.app-wrap {
  padding-top: 64px;
}

.section {
  margin-bottom: 60px;
}

.section h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

.dash {
  display: flex;
  margin-bottom: 24px;
}

.dash-item {
  width: 33.33%;
  min-height: 140px;
  /* background-color: #BDDBFF; */
  border: 1px solid #D3D7DB;
  margin-right: 16px;
  border-radius: 8px;
  /* box-shadow: 0 1px 3px rgba(29, 48, 64, .08); */
}

.dash-item:last-child {
  margin-right: 0;
}

.nav-general {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  /* border-top: 1px solid rgba(11, 10, 92, .1); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  /* border-bottom: 1px solid rgba(11, 10, 92, .1); */
  padding: 12px 0;
  margin-top: 12px;
}

.nav-general svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 16px;
}

.nav-settings {
  padding: 12px 0 16px;
}

.nav-settings svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-right: 16px;
}

.drop {
  background: #1545DE;
  /* background: rgba(255, 255, 255, .1); */
  display: none;
}

.drop.active {
  display: block;
}

.drop a {
  /* padding-left: 60px; */
}

.nav-active .drop {
  display: none;
}

.r-space-8 {
  margin-right: 8px;
}

.b-space-60 {
  padding-bottom: 60px;
}

.page-table {
  padding: 0 24px;
}

.page-numbers {
  padding: 0 24px;
}

.input-group-wrap {
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input {
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  order: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.input:focus {
  outline: 0;
  border: 1px solid #1545DE;
  box-shadow: 0 0 0 3px #CED9FA;
}

.input:focus ~ label {
  color: #1545DE;
  order: 0;
}

.input::-moz-placeholder {
  color: #D1D5DB;
}

.input::placeholder {
  color: #D1D5DB;
}

.menu-search--wrap {
  max-width: 480px;
  width: 100%;
}

.menu-search {
  height: 40px;
  width: 100%;
  border-radius: 999px;
  padding: 0 16px;
  background: #F3F4F6;
  border: 1px solid transparent;
}

.card-group {
  display: flex;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #E5E7EB;
  width: 100%;
  margin-right: 16px;
  height: 90px;
  display: flex;
}

.card:last-child {
  margin-right: 0;
}

.card-icon {
  border-radius: 8px;
  background: #e7ecfb;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.card-icon svg {
  fill: #1545DE;
}

.card-data {
  display: flex;
  flex-direction: column;
}

.card-data span:first-child {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

.card-data span:last-child {
  font-size: 20px;
  font-weight: 600;
}

.search-group {
  display: flex;
  max-width: 500px;
  width: 100%;
}

.progress {
  height: 8px;
  background: #e9e9e9;
  border-radius: 999px;
  box-shadow: none;
  overflow: visible;
}

.progress .progress-bar {
  box-shadow: none;
  position: relative;
  animation: animate-positive 2s;
  height: 8px;
  border-radius: 999px;
}

.progress .progress-value {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  position: absolute;
  top: -18px;
  right: 0;
  display: none;
}

.progress.green .progress-bar {
  background: #3D9900;
}
.progress.green .progress-bar:after {
  background: #3D9900;
}

.progress.red .progress-bar {
  background: #DA2323;
}
.progress.red .progress-bar:after {
  background: #DA2323;
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(31, 41, 55, 0.5);
  z-index: 900;
}

.overlay.active {
  display: block;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.page-header-tools {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

:root {
  --time-nav-hover: 0.25s;
  --color-fire: #E30000;
  --color-black: #191919;
  --color-grey-5: #FBFBFB;
  --color-grey-10: #F6F7F7;
  --color-grey-cool-10: #EEEEEF;
  --color-grey-15: #E8E8E8;
  --color-grey-20: #D5D6D8;
  --color-grey-60: #ABADB1;
  --color-grey-70: #888891;
  --color-grey-80: #6B6A6A;
  --color-grey-85: #59595F;
}

#inputContainer {
  max-width: 160px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border: 0;
}

.page-header-tools fieldset {
  border: 0;
  border-width: 0;
  margin: 0;
  padding: 0;
}

.inputGroup {
  display: block;
}

.label {
  display: block;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}

.segmentedControl {
  --options: 3;
  --options-active: 1;
  --options-gap: 4px;
  background: #e7ecfb;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  height: 42px;
}
.segmentedControl .segmentedControl--group {
  flex: 0 0 auto;
  margin: var(--options-gap);
  width: calc((100% - var(--options) * var(--options-gap) * 2) / var(--options));
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: stretch;
}
.segmentedControl .segmentedControl--group input {
  opacity: 0;
  position: absolute;
}
.segmentedControl .segmentedControl--group input + label {
  border-radius: 4px;
  flex: 1 1 100%;
  margin: 0;
  padding: 0.5em 0;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
.segmentedControl .segmentedControl--group input + label::before, .segmentedControl .segmentedControl--group input + label::after {
  border-radius: inherit;
  content: "";
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.segmentedControl .segmentedControl--group input + label::before {
  transition: opacity 0.15s ease;
}
.segmentedControl .segmentedControl--group input + label::after {
  background: #fff;
  transition: opacity 0.15s ease;
}
.segmentedControl .segmentedControl--group input + label:hover::before {
  opacity: 1;
}
.segmentedControl .segmentedControl--group input:focus + label {
  outline: none;
}
.segmentedControl .segmentedControl--group input:focus-visible + label {
  outline: var(--focus-style);
  outline-offset: var(--focus-offset);
}
.segmentedControl .segmentedControl--group input:-moz-focusring + label {
  outline: var(--focus-style);
  outline-offset: var(--focus-offset);
}
.segmentedControl .segmentedControl--group input:checked + label {
  background: var(--color-grey-10);
  color: #1545DE;
  font-weight: 700;
}
.segmentedControl .segmentedControl--group input:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

@media (prefers-reduced-motion: no-preference) {
  .segmentedControl .segmentedControl--group input + label {
    transition: color 0.2s ease;
  }
  .segmentedControl .segmentedControl--group input + label::before {
    transition: opacity 0.3s ease;
  }
  .segmentedControl .segmentedControl--group input + label::after {
    transform: scale(0.85, 0.5);
    transition: opacity 0.15s ease, transform 0.25s cubic-bezier(0, 0.99, 0.52, 1.29);
  }
  .segmentedControl.useSlidingAnimation::before {
    background: #fff;
    border-radius: 8px;
    content: "";
    display: block;
    height: calc(100% - var(--options-gap) * 2);
    position: absolute;
    top: var(--options-gap);
    left: var(--options-gap);
    transform: translateX(calc((100% + var(--options-gap) * 2) * (var(--options-active) - 1)));
    transition: transform cubic-bezier(0.8, 0.34, 0.28, 1.15) 0.35s;
    width: calc((100% - var(--options) * var(--options-gap) * 2) / var(--options));
  }
  .segmentedControl.useSlidingAnimation .segmentedControl--group input + label {
    background: none;
    transition: color 0.3s ease;
  }
  .segmentedControl.useSlidingAnimation .segmentedControl--group input + label::after {
    content: none;
  }
  .segmentedControl.useSlidingAnimation .segmentedControl--group input:checked + label:hover::before {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */